@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary: #0d6efd;
    --primary-hover: #0d3cfd;
    --green: #198754;
    --teal: #20c997;
    --cyan: #0dcaf0;
    --indigo:  #6610f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: calc(100vh);
    min-width:fit-content;
    background-color: #f0f0f0;    
}

header {
    background-color: #f7f7f7;
    border-radius: 15px;
    min-width: 100%;
}

header div {
    margin: 0 auto;
    max-width: 1400px;
    padding: 13px 40px;
    font-size: larger;
}

a {
    text-decoration: none;
    color: var(--primary);
}

main {
    margin: 0 auto;
    padding: 10px 50px;
    width: 100%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: 2.7fr 1.3fr;
    gap: 100px;
}

button {
    color: var(--primary);
    border-radius: 17px;
    border: 1px solid var(--primary);
    padding: 8px 13px;
    font-size: 1rem;
    cursor: pointer;
    align-items: center;
    transition: ease .3s;
}

button:hover {
    cursor: pointer;
}

.form-container {
    height: fit-content;
    background: #fff;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
    text-wrap: nowrap;
}

.form-input {
    display: block;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: medium;
    letter-spacing: 1px;
}

.form-button {
    color: whitesmoke;
    background-color: var(--green);
    opacity: 80%;
    border-color: var(--green);
}

.form-button:hover {
    opacity: 1;
}

.list-container {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
    text-wrap: nowrap;
}

.list-header {
    color: var(--primary);
    display: flex;
    align-items: center;
    font-size: larger;
}

.list-header h2 {
    padding: 10px;
}

.clear-button {
    position: absolute;
    right: 20px;
    color: whitesmoke;
    background-color: var(--indigo);
    opacity: 75%;
}

.clear-button:hover {
    opacity: 1;
}

hr {
    margin: 10px;
    border: 1px solid var(--primary);
    opacity: 70%;
    border-radius: 20px;
}

#listItems {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
}

.item {
    font-size: large;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin: 5px 0;
    padding: 5px;
    gap: 2rem;
}

.item > input[type="checkbox"] {
    text-align: center;
    cursor: pointer;
    height: 18px;
    width: 18px;
    accent-color: var(--primary);
}

.item > label {
    cursor: pointer;
}

.item > input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    text-decoration-color: var(--primary-hover);
    text-decoration-thickness: 2px;
}

.item > input[type="checkbox"]:checked {
    background-color: var(--primary);
    
}

.item > label {
    flex-grow: 1;
    word-break: break-all;
}

.close-button {
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 10px;
    padding: 5px 9px;
    font-size: 15px;
    opacity: 70%;
}

.item > button:hover, 
.item > button:focus {
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    main {
        gap: 50px;
    }
}

@media screen and (max-width: 890px) {
    main {
        gap: 10px;
    }
}

@media screen and (max-width: 768px) {
    main {
        display:flex;
        flex-direction: column-reverse;
        gap: 0;
    }
}